.CenterInterAction{
    position: absolute;
    z-index: 2;
    height: 80vh;
    margin:  5rem 0;
    justify-content: space-around;
}

.diceImg{
    height: 70px;
    width: 70px;
    box-shadow: 0 0 2rem rgba(68, 68, 68, 0.57);
    border-radius: 9px;
}